body {
  background-color: ghostwhite;
  background-size: cover;
  color: white;
  margin-left: 60px;
  margin-right: 60px;
  columns: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 4px;
  margin: 10px;
}


.column {
  flex: 25%;
  padding: 0 4px;
  margin: 4px;
}

.column img {
  margin-top: 12px;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 100px;
  font-weight: lighter;
  text-shadow: 5px 5px darkslategrey;
  margin-top: 40px;
  padding: 20px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Bad Script', cursive;
  font-size: 30px;
  text-shadow: 3px 3px darkslategrey;
  margin-top: 0px;
  margin-bottom: 20px;
}

.container {
  background-color: rgb(176, 196, 222);
  box-sizing: content-box;
  height: fit-content;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 3px;
}

h4 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow: 2px 2px darkslategrey;
  margin-top: 0px;
  padding: 20px;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 2px 2px darkslategrey;
  text-align: justify;
}

span {
  color: coral;
  text-shadow: 2px 2px darkslategrey;
}

.mission {
  margin-bottom: 40px;
}

.container .button {
  background-image: url("images/Picture3.jpg");
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: coral;
  text-align: center;
}

.button:hover {
  opacity: 0.7;
}

.about-me {
  font-weight: normal;
  text-shadow: none;
  margin-bottom: 40px;
}

ul li a {
  color: white;
}

ul {
  list-style: none;
  /* margin-left: 125px; */
}

li {
  display: inline;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(176, 196, 222);
  margin-top: 50px;
}


@media (max-width: 748px) {
  body {
    /* background: darkslategrey; */
    background-image: url("images/backgroundmobile2.jpg");
    background-size: 748px 1330px;
    background-repeat: no-repeat;
    background-color: rgb(176, 196, 222);
    text-align: justify;
    margin-left: 0px;
    text-shadow: none;
    column-width: 640px;
  }
 
  h1 {
    font-size: 90px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
  }
  h4 {
    margin-top: 0px;
    margin-left: 0px;
  }
  
  h2 {
    margin-left: 20px;
  }

  p {
    margin-left: 20px;
    font-size: 25px;
  }
  .button {
    margin-left: 35%;
    background-color: rgb(176, 196, 222);
  }

  ul {
    margin-left: 30%;
  }
}